.header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: white;
}
.blackheader-text {
    color: black;
}


.sub-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}
.button-left,
.button-right {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    z-index: 1;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .craft-item {
      flex: 1;
      transition: transform 0.5s ease; /* Add a transition for smooth movement */
      animation-duration: 0.5s;
      animation-timing-function: ease;
  }
  
  .slide-in-right {
      animation-name: slideInFromRight;
  }
  
  .slide-in-left {
      animation-name: slideInFromLeft;
  }
  .hidden {
    display: none;
}
  

.button-left, .button-right {
    font-size: 24px;
}

/* Add hover effect to buttons */
.button-left:hover, .button-right:hover {
    background-color: #a0aec0;
}

.text-custom-color {
  color: #697B51;
}

.reserve-button {
  display: block;
  margin: 20px auto 0; /* Set top margin to 20px and auto for left and right margins */
  width: 70%;
  padding: 10px 20px;
  background-color: #697B51; /* Set the background color */
  color: white; /* Set the text color */
  border-radius: 7px; /* Add rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions */
  text-align: center; /* Center text */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.324); /* Add box-shadow */
}

/* Hover effect for Reserve Now button */
.reserve-button:hover {
  background-color: #556f44; /* Darker color on hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Change box-shadow on hover */
}

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Ensure it's above other elements */
}





