body {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 58px;
    right: 130px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.overlay button {
    background-color: #bf7e6a;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.form-input {
    background-color: #ffffff;
    border: 2px solid #ACACAC;
    color: #4a4a4a;
    text-align: left;
}

.form-input::placeholder {
    color: #7a7a7a;
}

.form-button {
    background-color: #972D20;
    border: 2px solid #972D20;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #972D20;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}
.form-button span {
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 52px;
    word-wrap: break-word;
}

.form-button:hover {
    background-color: #8e5240;
}

.pastel-brown {
    color: #bf7e6a;
}

@media screen and (max-width: 768px) {
    .overlay {
        position: static;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        display: block;
    }

    .overlay button {
        display: block;
        margin: 0;
        padding: 5px 10px;
    }
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
}

.scroll-content {
    padding: 20px;
}
.forgot-password {
    color: #ACACAC;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 5px;
    margin-top: 1px;
    text-align: right;
}

#login-submit-btn {
    background-color: #972D20;
    border: 2px solid #972D20;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

#login-submit-btn:hover {
    background-color: #8e5240;
}